DATABASE_URL="mysql://USER:PASSWORD@127.0.0.1:3306/rebelle_store"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

RESEND_API_KEY=""
EMAIL_FROM="Rebelle Boutique <hola@rebelleboutique.com>"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="526641234567"
NEXT_PUBLIC_GOOGLE_MAPS_KEY=""

ADMIN_EMAIL="admin@rebelleboutique.com"
